<a href="https://colab.research.google.com/github/LucaAPiattelli/Diplomatura_Business_Analytics_UDA/blob/main/Modulo_07_Introduccion_a_Python/BA_Pandas_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>

![Encabezado.png]()

</center>

<center>
<font color="#41a8c7">
<h2><b>
Utilizando Pandas

</font>
</center>

## Carga de módulos necesarios

In [1]:
import numpy as np
import pandas as pd

## Lectura de datos desde archivo - Creación del dataframe

In [2]:
datos_url = "https://raw.githubusercontent.com/LucaAPiattelli/Diplomatura_Business_Analytics_UDA/main/Modulo_07_Introduccion_a_Python/Analisis_de_Facturas_de_Venta.csv"

In [3]:
ventas = pd.read_csv(datos_url) #los datos están separados por comas

## Visualización del dataframe

In [4]:
ventas.head(7) #vista del dataframe

         DOCUMENTO      ORGANIZACION  ... IMPORTEMONTRANSACCION            MONEDA
0  B-0001-00000102      Etigand S.A.  ...             289256.20  Pesos Argentinos
1  B-0001-00000101     Javier Moroni  ...              99586.78  Pesos Argentinos
2  A-0001-00000231      Amazon Group  ...              59700.00  Pesos Argentinos
3  A-0001-00000230      Amazon Group  ...             310740.00  Pesos Argentinos
4  A-0001-00000229  Manganello S.R.L  ...             315000.00  Pesos Argentinos
5  A-0001-00000228     Galardon S.A.  ...             234807.00  Pesos Argentinos
6  A-0001-00000227          Klarkson  ...              61830.00  Pesos Argentinos

[7 rows x 9 columns]

In [5]:
ventas.tail(7)

           DOCUMENTO  ...            MONEDA
152  B-0001-00000070  ...  Pesos Argentinos
153  A-0001-00000129  ...  Pesos Argentinos
154  A-0001-00000128  ...  Pesos Argentinos
155  B-0001-00000069  ...  Pesos Argentinos
156  B-0001-00000069  ...  Pesos Argentinos
157  B-0001-00000068  ...  Pesos Argentinos
158  B-0001-00000068  ...  Pesos Argentinos

[7 rows x 9 columns]

In [6]:
ventas.index

RangeIndex(start=0, stop=159, step=1)

In [7]:
ventas.columns

Index(['DOCUMENTO', 'ORGANIZACION', 'FECHA', 'TIPOFACTURA', 'PRODUCTO',
       'CANTIDAD', 'PRECIO', 'IMPORTEMONTRANSACCION', 'MONEDA'],
      dtype='object')

## Tipos de datos del DataFrame y tamaño

In [8]:
ventas.dtypes

DOCUMENTO                 object
ORGANIZACION              object
FECHA                     object
TIPOFACTURA               object
PRODUCTO                  object
CANTIDAD                 float64
PRECIO                   float64
IMPORTEMONTRANSACCION    float64
MONEDA                    object
dtype: object

In [9]:
ventas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   DOCUMENTO              159 non-null    object
 1   ORGANIZACION           159 non-null    object
 2   FECHA                  159 non-null    object
 3   TIPOFACTURA            159 non-null    object
 4   PRODUCTO               159 non-null    object
 5   CANTIDAD               159 non-null    float64
 6   PRECIO                 159 non-null    float64
 7   IMPORTEMONTRANSACCION  159 non-null    float64
 8   MONEDA                 159 non-null    object
dtypes: float64(3), object(6)
memory usage: 11.3+ KB

In [10]:
ventas.shape

(159, 9)

## Estadísticas

### Resumen

In [11]:
ventas.PRECIO.describe()

count       159.000000
mean      24021.195378
std       30051.944155
min         107.438000
25%        3500.000000
50%       12000.000000
75%       32249.500000
max      165980.000000
Name: PRECIO, dtype: float64

### Media

In [12]:
ventas.PRECIO.mean()

24021.195377987417

### Mediana

In [13]:
ventas.PRECIO.median()

12000.0

### Desviación estándar

In [14]:
ventas.PRECIO.std()

30051.94415512588

### Primer cuartil

In [15]:
ventas.PRECIO.quantile(q=0.25)

3500.0

### Segundo cuartil

In [16]:
ventas.PRECIO.quantile(q=0.5)

12000.0

### Tercer cuartil

In [17]:
ventas.PRECIO.quantile(q=0.75)

32249.5

### Minimo

In [18]:
ventas.PRECIO.min()

107.438

### Maximo

In [19]:
ventas.PRECIO.max()

165980.0

### Sesgo

In [20]:
ventas.PRECIO.skew()

1.9922846974676405

### Rango

In [21]:
rango = ventas.PRECIO.max() - ventas.PRECIO.min()
rango

165872.562

### Curtosis

In [22]:
ventas.PRECIO.kurtosis()

4.5892711892806215

### Valores únicos

In [23]:
ventas.nunique()

DOCUMENTO                138
ORGANIZACION              20
FECHA                    127
TIPOFACTURA                1
PRODUCTO                  23
CANTIDAD                  23
PRECIO                   125
IMPORTEMONTRANSACCION    134
MONEDA                     2
dtype: int64

## Seleccionando Datos

In [24]:
ventas.columns

Index(['DOCUMENTO', 'ORGANIZACION', 'FECHA', 'TIPOFACTURA', 'PRODUCTO',
       'CANTIDAD', 'PRECIO', 'IMPORTEMONTRANSACCION', 'MONEDA'],
      dtype='object')

In [25]:
ventas.DOCUMENTO

0      B-0001-00000102
1      B-0001-00000101
2      A-0001-00000231
3      A-0001-00000230
4      A-0001-00000229
            ...
154    A-0001-00000128
155    B-0001-00000069
156    B-0001-00000069
157    B-0001-00000068
158    B-0001-00000068
Name: DOCUMENTO, Length: 159, dtype: object

In [26]:
ventas.DOCUMENTO.head()

0    B-0001-00000102
1    B-0001-00000101
2    A-0001-00000231
3    A-0001-00000230
4    A-0001-00000229
Name: DOCUMENTO, dtype: object

In [27]:
ventas.DOCUMENTO.tail()

154    A-0001-00000128
155    B-0001-00000069
156    B-0001-00000069
157    B-0001-00000068
158    B-0001-00000068
Name: DOCUMENTO, dtype: object

In [28]:
ventas[0:2]

         DOCUMENTO   ORGANIZACION  ... IMPORTEMONTRANSACCION            MONEDA
0  B-0001-00000102   Etigand S.A.  ...             289256.20  Pesos Argentinos
1  B-0001-00000101  Javier Moroni  ...              99586.78  Pesos Argentinos

[2 rows x 9 columns]

### Selección .loc

In [29]:
ventas.DOCUMENTO.loc[0:2]

0    B-0001-00000102
1    B-0001-00000101
2    A-0001-00000231
Name: DOCUMENTO, dtype: object

In [30]:
ventas.loc[0:2]

         DOCUMENTO   ORGANIZACION  ... IMPORTEMONTRANSACCION            MONEDA
0  B-0001-00000102   Etigand S.A.  ...             289256.20  Pesos Argentinos
1  B-0001-00000101  Javier Moroni  ...              99586.78  Pesos Argentinos
2  A-0001-00000231   Amazon Group  ...              59700.00  Pesos Argentinos

[3 rows x 9 columns]

In [31]:
ventas.loc[:,["DOCUMENTO","TIPOFACTURA"]].head()

         DOCUMENTO TIPOFACTURA
0  B-0001-00000102     Factura
1  B-0001-00000101     Factura
2  A-0001-00000231     Factura
3  A-0001-00000230     Factura
4  A-0001-00000229     Factura

In [32]:
ventas.loc[7:9,["DOCUMENTO","TIPOFACTURA"]]

         DOCUMENTO TIPOFACTURA
7  A-0001-00000226     Factura
8  A-0001-00000225     Factura
9  A-0001-00000224     Factura

In [33]:
ventas.loc["6":"7",["DOCUMENTO","TIPOFACTURA"]]

          DOCUMENTO TIPOFACTURA
60  A-0001-00000187     Factura
61  A-0001-00000186     Factura
62  A-0001-00000185     Factura
63  A-0001-00000183     Factura
64  A-0001-00000182     Factura
65  A-0001-00000182     Factura
66  A-0001-00000182     Factura
67  A-0001-00000181     Factura
68  A-0001-00000180     Factura
69  A-0001-00000180     Factura

### Selección .iloc

In [34]:
ventas.iloc[6]

DOCUMENTO                     A-0001-00000227
ORGANIZACION                         Klarkson
FECHA                                 2/11/19
TIPOFACTURA                           Factura
PRODUCTO                 Cable RGB para video
CANTIDAD                                   60
PRECIO                                 1030.5
IMPORTEMONTRANSACCION                   61830
MONEDA                       Pesos Argentinos
Name: 6, dtype: object

In [35]:
ventas.iloc[3:5,0:2]

         DOCUMENTO      ORGANIZACION
3  A-0001-00000230      Amazon Group
4  A-0001-00000229  Manganello S.R.L

In [36]:
ventas.iloc[[1,2,4],[0,2]]

         DOCUMENTO     FECHA
1  B-0001-00000101  21/12/19
2  A-0001-00000231  10/12/19
4  A-0001-00000229  20/11/19

## Datos faltantes

In [37]:
ventas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   DOCUMENTO              159 non-null    object
 1   ORGANIZACION           159 non-null    object
 2   FECHA                  159 non-null    object
 3   TIPOFACTURA            159 non-null    object
 4   PRODUCTO               159 non-null    object
 5   CANTIDAD               159 non-null    float64
 6   PRECIO                 159 non-null    float64
 7   IMPORTEMONTRANSACCION  159 non-null    float64
 8   MONEDA                 159 non-null    object
dtypes: float64(3), object(6)
memory usage: 11.3+ KB

In [38]:
# ventas.dropna(how='any', inplace=True)
# ventas.fillna(value=0)

In [39]:
ventas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   DOCUMENTO              159 non-null    object
 1   ORGANIZACION           159 non-null    object
 2   FECHA                  159 non-null    object
 3   TIPOFACTURA            159 non-null    object
 4   PRODUCTO               159 non-null    object
 5   CANTIDAD               159 non-null    float64
 6   PRECIO                 159 non-null    float64
 7   IMPORTEMONTRANSACCION  159 non-null    float64
 8   MONEDA                 159 non-null    object
dtypes: float64(3), object(6)
memory usage: 11.3+ KB

In [40]:
pd.isna(ventas)

     DOCUMENTO  ORGANIZACION  FECHA  ...  PRECIO  IMPORTEMONTRANSACCION  MONEDA
0        False         False  False  ...   False                  False   False
1        False         False  False  ...   False                  False   False
2        False         False  False  ...   False                  False   False
3        False         False  False  ...   False                  False   False
4        False         False  False  ...   False                  False   False
..         ...           ...    ...  ...     ...                    ...     ...
154      False         False  False  ...   False                  False   False
155      False         False  False  ...   False                  False   False
156      False         False  False  ...   False                  False   False
157      False         False  False  ...   False                  False   False
158      False         False  False  ...   False                  False   False

[159 rows x 9 columns]